<div class="row">
    <h3>Accountabilibuddy</h3>
    <img src="/images/logo.png" alt="small_logo">




    <p class="lead">Create public tasks lists so your friends can hold you accountable!</p>

    <!--<div class="col s12 m6">

            <div class="email-login"></div>
            <div class="password-login"></div>
        </div>-->
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn my-custom-class">
        <i class="fab fa-google left"></i>Login with Google
    </a>

</div>
<a class='guest-login' href="/guest">Continue as guest</a>